<!-- app/views/admin_home/home.html.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home Page</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            min-height: 100vh;
        }

        h1 {
            color: #333;
            text-align: center;
            margin: 20px 0;
        }

        p {
            color: #555;
            text-align: center;
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        li {
            margin-bottom: 15px;
        }

        a {
            text-decoration: none;
            color: #007BFF;
            font-weight: bold;
            transition: color 0.3s ease;
            display: inline-block;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #007BFF;
            margin-bottom: 10px;
        }

        a:hover {
            background-color: #007BFF;
            color: #fff;
        }
    </style>
</head>
<body>
    <h1>Admin Home Page</h1>
    <h1><p>Hello, <%= @ausername %>!</p></h1>
     <section>
    <a href="/adminlist" class="cta-button">Check Available Equipment</a>
   
    </section>
    <a href="/admin">Logout</a>
</body>
</html>
